.secrets-item > * {
    display: inline-block;
}

.secrets-item img {
    vertical-align: middle;
    cursor: pointer;
    margin: 5px
}

.secrets-item input {
    margin: 7px;
    border: 0.1rem solid var(--color-4);
    border-radius: 5px;
    padding: 0.25rem
}

body.theme-dark .secrets-item input {
    background-color: var(--tertiary-color);
    color: white;
}

.trash-icon {
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.secret-add {
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 5px
}

.secret-add svg {
    vertical-align: middle
}